[user]
name = Riley Bauer
email = wryr1ley@gmail.com
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINmRtrzArWn1Zn5H/Iw08SAMe/mtyDQY1QFSND/zgiq6

[commit]
gpgsign = true

[gpg]
format = ssh

[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[github]
user = wrylyriley

[core]
editor = code --wait

[pull]
rebase = false

[color]
ui = true

[init]
defaultBranch = main
